span{
    color: darkmagenta;
}
body{
    font-family: 'Anton', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Luxurious Roman', cursive;
font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;
margin: ;
}
h1{
    font-size: 50px;
}
section{
    display: flex;
}
.cobi-leka{
    width: 50%;
    padding-left: 5%;
}
.cobi-leka img{
    width: 60%;
}
.explore-button{
    text-decoration: none;
    background-color: rgb(173, 173, 4);
    padding: 5px 20px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 500;
}
.back-shape{
    background-image: url(images/shapes/shape-7.png);
    background-repeat: no-repeat;
}
h3{
    color: wheat;
}

.section img{
    width: 20%;
    display: flex;
    padding-left: 10%;
    text-align: center;
}
.bcd{
    background-color: burlywood;
    border: gray solid;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10%;
    box-shadow:grey 10px 10px 10px ;
}
.dvd{
    background-color: lightblue;
    border:grey solid;
    border-radius: 10px;
    box-shadow:gray 10px 10px 10px;
    padding-left: 10px;
    padding-right: 10%;
}
.xyz{
    background-color: lightseagreen;
    border: gray solid;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10%;
    box-shadow:grey 10px 10px 10px ;
}